// Colours 
$white: #E8EEF1;
$light-blue: #43B0F1;
$dark-blue: #057DCD;

// Fonts
$title-font: 'Poppins';
$main-font: 'Mulish';

$breakpoint-cp-screen-medium: 850px;
$breakpoint-cp-screen-small: 700px;
$breakpoint-tablet-screen-medium: 550px;
$breakpoint-smartPhone-screen-medium: 400px;
