.startQuiz {
  font-size: 18px;
  padding: 5px 20px;
  background-color: #43B0F1;
  border: 2px solid #43B0F1;
  border-radius: 20px;
  color: #E8EEF1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  font-family: "Poppins";
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.startQuiz:hover {
  transform: translateY(-2px);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85px;
  background-color: #43B0F1;
}

h2 {
  margin: 0px;
  padding: 0px;
  font-family: "Mulish";
  font-weight: 500;
  font-size: 40px;
  color: #E8EEF1;
}

h3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
}

p {
  font-family: "Poppins";
  font-weight: 300;
}

.answerOpation {
  display: flex;
  align-items: center;
}
.answerOpation input {
  margin-right: 7.5px;
}
.answerOpation label {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 20px;
}

.nextQuestionBtn {
  font-size: 18px;
  padding: 5px 20px;
  background-color: #43B0F1;
  border: 2px solid #43B0F1;
  border-radius: 20px;
  color: #E8EEF1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  font-family: "Poppins";
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.nextQuestionBtn:hover {
  transform: translateY(-2px);
}

.returnHomeBtn {
  font-size: 18px;
  padding: 5px 20px;
  background-color: #43B0F1;
  border: 2px solid #43B0F1;
  border-radius: 20px;
  color: #E8EEF1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  font-family: "Poppins";
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.returnHomeBtn:hover {
  transform: translateY(-2px);
}

.reStartQuizBtn {
  font-size: 18px;
  padding: 5px 20px;
  background-color: #43B0F1;
  border: 2px solid #43B0F1;
  border-radius: 20px;
  color: #E8EEF1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  font-family: "Poppins";
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.reStartQuizBtn:hover {
  transform: translateY(-2px);
}

.answerBorderBreak {
  width: 100%;
  height: 1px;
  background-color: #43B0F1;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #43B0F1;
  position: fixed;
  bottom: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

.startBtnContainer {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: auto;
  display: flex;
  justify-content: center;
}

.indexInformationContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0px;
  padding: 0px;
}
.indexInformationContainer .indexInnerInformationContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.indexInformationContainer .indexInnerInformationContainer p {
  width: 70%;
  font-size: 18px;
  text-align: center;
}

.questionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.questionContainer .questionAndIndexContect {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 5px;
}
.questionContainer .questionAndIndexContect p {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
}
.formContainer .mainQuizForm {
  display: flex;
  width: 400px;
  flex-direction: column;
  row-gap: 10px;
}

.nextQuestionContaner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.showUserQuizResultsContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.showUserQuizResultsContainer .userQuizResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.showUserQuizResultsContainer .userQuizResults p {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
}

.returnHomeButtonContainer {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.wrongQuestionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.wrongQuestionsContainer .answerContainer {
  width: 500px;
}
.wrongQuestionsContainer .answerContainer p {
  font-size: 20px;
}

.titleWrongUserAnswersCon {
  width: 100%;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */