nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85px;
    background-color: $light-blue;
    position: relative;

    h2{
        position: absolute;
    }

    .returnHomeBtn{
        display: none;
       position: absolute;
       background: $dark-blue;
       border: 2px solid $dark-blue ;
       right: 30px;
       top: 23px;
    }

    
}