body{
    margin: 0px;
    padding: 0px;
}

//

.startBtnContainer{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: auto;
    display: flex;
    justify-content: center;
}

@media (max-width: $breakpoint-smartPhone-screen-medium){
    .startBtnContainer{
        button{
            width: 80%;
            font-size: 24px;
            border-radius: 25px;
        }
    }
}

//

.indexInformationContainer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
    padding: 0px;

    .indexInnerInformationContainer{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            width: 70%;
            font-size: 18px;
            text-align: center;
            
        }
    }
}

@media (max-width: $breakpoint-cp-screen-medium) {
    .indexInformationContainer{
        .indexInnerInformationContainer{
            width: 90%;
        }
    }
}

@media (max-width: $breakpoint-tablet-screen-medium) {
    .indexInformationContainer{
        .indexInnerInformationContainer{
            width: 100%;

            h3{
                text-align: center;
            }

            p{
                width: 90%;
            }
        }
    }
}

//

.instructions{
    margin-bottom: 100px;

    .instructionsHeadingAndInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            font-size: 18px;
        }
    }

    .instructionsContaner{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 30px 0px;

        .instructionsContanerHolder{
            width: 620px;
            display: flex;
            flex-wrap: wrap;
            column-gap: 30px;
            row-gap: 30px;

            .instructionsContanerItem{
                width: 250px;
                padding: 15px 20px;
                text-align: justify;
                font-size: 18px;
                background: $light-blue;
                border-radius: 10px;
                position: relative;
                bottom: 0px;
                transition: ease-in-out;
                transition-duration: 0.3s;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                position: relative;

                .instructionCount{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    position: absolute;
                    left: -10px;
                    top: -10px;
                    background: $dark-blue;
                    width: 25px;
                    height: 25px;
                    border-radius: 15px;
                    font-family: $title-font;
                    
                }

                p{
                    margin: 0px;
                    padding: 0px;
                    color: $white;
                }

                &:hover{
                   background: $dark-blue;
                   transform: translateY(-2px);
                }
            }
        }
    }
}

@media (max-width: $breakpoint-cp-screen-medium){
    .instructions{
        
    
        .instructionsHeadingAndInfo{
            
            p{
                width: 90%;
                text-align: center;
            }
        }
    }
}

@media (max-width: $breakpoint-cp-screen-small) {
    .instructions{
        
    
        .instructionsHeadingAndInfo{
            
            p{
                width: 90%;
                text-align: center;
            }
        }
    
        .instructionsContaner{
            
    
            .instructionsContanerHolder{
                width: 100%;
                justify-content: center;
    
                .instructionsContanerItem{
                    width: 70%;
                }
            }
        }
    }
}