


.questionContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;


    .questionAndIndexContect{

        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 5px;
    
        p{
            margin: 0px;
            padding: 0px;
            font-size: 18px;
        }
    }
}

.formContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;

    .mainQuizForm{
        display: flex;
        width: 400px;
        flex-direction: column;
        row-gap: 10px;
    }
}

.nextQuestionContaner{
    width: 100%;
    display: flex;
    justify-content: center;
}

.showUserQuizResultsContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .userQuizResults{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;

        p{
            margin: 0px;
            padding: 0px;
            font-size: 24px;
        }
    }
}

.returnHomeButtonContainer{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    column-gap: 20px;
    
}

.wrongQuestionsContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    .answerContainer{
        width: 500px;

        p{
            font-size: 20px;
        }
    }
}

.titleWrongUserAnswersCon{
    width: 100%;
    display: flex;
    justify-content: center;
}