


.questionContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;


    .questionAndIndexContect{

        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 5px;
    
        p{
            margin: 0px;
            padding: 0px;
            font-size: 18px;
        }
    }
}

@media (max-width: $breakpoint-smartPhone-screen-medium){
    .questionContainer{

        .questionAndIndexContect{
            width: 90%;
            align-items: center;
            
            #questionIndex{
                font-size: 26px;
            }
            
            p{
                text-align: center;
            }
        }
    }
}



.formContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;

    .mainQuizForm{
        display: flex;
        width: 400px;
        flex-direction: column;
        row-gap: 10px;
    }
}

@media (max-width: $breakpoint-smartPhone-screen-medium){
    .formContainer{

        margin: 20px 0px;
       
        .mainQuizForm{
            width: 90%;
            
        }
    }
}

.nextQuestionContaner{
    width: 100%;
    display: flex;
    justify-content: center;
}

.showUserQuizResultsContainer{
    display: flex;
    justify-content: center;
    margin: 60px 0px;

    .userQuizResults{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;

        p{
            margin: 0px;
            padding: 0px;
            font-size: 30px;
        }
    }
}

@media (max-width: $breakpoint-smartPhone-screen-medium){
    .showUserQuizResultsContainer{
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

//

.returnHomeButtonContainer{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    column-gap: 20px;
}

@media (max-width: $breakpoint-smartPhone-screen-medium){
    .returnHomeButtonContainer{
        flex-direction: column;
        display: flex;
        row-gap: 30px;
        align-items: center;

        .returnHomeBtn{
            width: 80%;
            font-size: 24px;
            border-radius: 25px;
        }

        .reStartQuizBtn{
            width: 80%;
            font-size: 24px;
            border-radius: 25px;
        }
    }
}

//

.wrongQuestionsContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    .answerContainer{
        width: 500px;

        p{
            font-size: 20px;
        }
    }
}

@media (max-width: $breakpoint-tablet-screen-medium){
    .wrongQuestionsContainer{
    
        .answerContainer{
            width: 90%;
    
            p{
                font-size: 20px;
            }
        }
    }
}

.titleWrongUserAnswersCon{
    width: 100%;
    display: flex;
    justify-content: center;
}